@font-face {
  font-family: ArialMT;
  src: url(../../fonts/ArialMT.ttf);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.button__link {
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 11px 20px 16px 20px;
  width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
    padding: 24px 30px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    position: relative;
    width: 1219px;
    margin: 54px auto 0 auto;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 173px;
    height: 58px;
    background-image: url("../../img/logo-tablet-svg.png");
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    width: 202px;
    height: 59px;
    background-image: url("../../img/logo-desktop.png");
  }
}
@media (min-width: 768px) {
  .main-header__logo-image {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}
.main-header__button {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #111111;
}
.main-header__button:hover + .main-header__mobile-menu {
  display: block;
}
@media (min-width: 768px) {
  .main-header__button {
    display: none;
  }
}
.main-header__mobile-menu {
  display: none;
  width: 320px;
}
@media (min-width: 768px) {
  .main-header__mobile-menu {
    display: block;
    width: auto;
  }
}
.main-header__list {
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .main-header__list {
    width: auto;
  }
}
@media (min-width: 768px) {
  .main-header__item {
    display: inline-block;
    margin-left: 36px;
  }
}
.main-header__link {
  display: block;
  width: 100%;
  padding: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #111111;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-header__link {
    width: auto;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #222222;
  }
  .main-header__link--active {
    border-bottom: 2px solid #68b738;
  }
}
.main {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main {
    width: 1440px;
  }
}
.first-screen {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .first-screen {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .first-screen {
    width: 720px;
  }
}
.first-screen__title {
  padding: 29px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  background-image: url("../../img/index-background-mobile.png");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .first-screen__title {
    width: 500px;
    margin: 0 0 0 90px;
    background-image: none;
    color: #111111;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .first-screen__title {
    margin: 0 0 0 164px;
  }
}
.first-screen__main-title {
  padding: 0;
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .first-screen__main-title {
    padding-top: 31px;
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .first-screen__main-title {
    padding-top: 113px;
  }
}
.first-screen__sub-title {
  margin-bottom: 167px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .first-screen__sub-title {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .first-screen__sub-title {
    margin-bottom: 53px;
  }
}
.first-screen__image {
  position: absolute;
  top: 167px;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .first-screen__image-mobile {
    display: none;
  }
}
.first-screen__image-tablet {
  display: none;
}
@media (min-width: 768px) {
  .first-screen__image-tablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .first-screen__image-tablet {
    display: none;
  }
}
.first-screen__image-desctop {
  display: none;
}
@media (min-width: 1440px) {
  .first-screen__image-desctop {
    display: block;
  }
}
@media (min-width: 768px) {
  .first-screen__image {
    top: 259px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .first-screen__image {
    top: 29px;
    left: 560px;
    z-index: 0;
  }
}
.first-screen__button {
  width: 100%;
  text-align: center;
}
.first-screen__link {
  display: block;
  width: 280px;
  padding: 11px;
  margin: 135px auto 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .first-screen__link {
    width: 245px;
    margin: 0 0 529px 119px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .first-screen__link {
    margin: 0 0 188px 190px;
  }
}
.second-screen {
  display: none;
}
@media (min-width: 1440px) {
  .second-screen {
    display: block;
    width: 720px;
    background-image: url("../../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .categories {
    width: 1220px;
    margin: 0 auto;
  }
}
.categories__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1440px) {
  .categories__list {
    width: 1220px;
    justify-content: space-between;
  }
}
.categories__item {
  position: relative;
  width: 280px;
  margin-top: 20px;
  padding: 26px 20px 22px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .categories__item {
    width: 708px;
    margin: 0 0 30px 0;
    padding: 75px 285px 62px 52px;
  }
}
@media (min-width: 1440px) {
  .categories__item {
    width: 570px;
    margin: 80px 0 0 0;
    padding: 75px 55px 62px 52px;
  }
}
.categories__image {
  position: absolute;
  top: 23px;
  left: 21px;
  display: block;
  width: 67px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .categories__image {
    top: 80px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 212px;
  }
}
@media (min-width: 1440px) {
  .categories__image {
    top: 41px;
    right: auto;
    left: 34px;
    width: 134px;
    height: 106px;
  }
}
.categories__image--less {
  background-image: url("../../img/categories-less.png"), url("../../img/ellipse-mobile.png");
}
@media (min-width: 768px) {
  .categories__image--less {
    background-image: url("../../img/categories-less-tablet.png"), url("../../img/ellipse-1-tablet.png");
  }
}
@media (min-width: 1440px) {
  .categories__image--less {
    background-image: url("../../img/categories-less-desktop.png"), url("../../img/ellipse-1-desktop.png");
  }
}
.categories__image--masse {
  background-image: url("../../img/categories-masse.png"), url("../../img/ellipse-mobile.png");
}
@media (min-width: 768px) {
  .categories__image--masse {
    background-image: url("../../img/categories-masse-tablet.png"), url("../../img/ellipse-1-tablet.png");
  }
}
@media (min-width: 1440px) {
  .categories__image--masse {
    background-image: url("../../img/categories-masse-desktop.png"), url("../../img/ellipse-1-desktop.png");
  }
}
.categories .categories__title {
  margin-left: 92px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .categories .categories__title {
    margin-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .categories .categories__title {
    margin-left: 216px;
  }
}
.categories .categories__description {
  padding-bottom: 21px;
  margin: 34px 0 20px 0;
  border-bottom: 1px solid #dadada;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .categories .categories__description {
    margin: 26px 0 61px 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .categories .categories__description {
    margin: 71px 0 32px 0;
  }
}
.categories .categories__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .categories .categories__link {
    font-size: 20px;
    line-height: 20px;
  }
}
.categories .categories__link::after {
  content: "";
  position: absolute;
  right: -36px;
  top: 6px;
  display: block;
  width: 24px;
  height: 11px;
  background-image: url("../../img/categories-arrow.png");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .categories .categories__link::after {
    top: 10px;
    right: -49px;
  }
}
.advantages {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media (min-width: 768px) {
  .advantages {
    width: 708px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .advantages {
    width: 1220px;
    margin-bottom: 90px;
    border-bottom: none;
  }
}
.advantages__title {
  padding: 0;
  margin: 32px 0 35px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 51px 0 63px 0;
  }
}
.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .advantages__list {
    justify-content: space-between;
  }
}
.advantages__item {
  position: relative;
  width: 280px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 245px;
    padding: 113px 0 48px 0;
    margin-bottom: 89px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(2n) {
    margin-bottom: 58px;
  }
}
@media (min-width: 1440px) {
  .advantages__item:nth-child(2n) {
    margin-bottom: 0;
  }
}
.advantages__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__image {
    width: 80px;
    height: 80px;
  }
}
.advantages__image--nutrition {
  background-image: url("../../img/advantage-nutrition.png"), url("../../img/green-back-mobile.png");
}
@media (min-width: 768px) {
  .advantages__image--nutrition {
    background-image: url("../../img/advantage-nutrition.png"), url("../../img/green-back-tablet.png");
  }
}
.advantages__image--powder {
  background-image: url("../../img/advantage-powder.png"), url("../../img/green-back-mobile.png");
}
@media (min-width: 768px) {
  .advantages__image--powder {
    background-image: url("../../img/advantage-powder.png"), url("../../img/green-back-tablet.png");
  }
}
.advantages__image--functional {
  background-image: url("../../img/advantage-functional.png"), url("../../img/green-back-mobile.png");
}
@media (min-width: 768px) {
  .advantages__image--functional {
    background-image: url("../../img/advantage-functional.png"), url("../../img/green-back-tablet.png");
  }
}
.advantages__image--time {
  background-image: url("../../img/advantage-time.png"), url("../../img/green-back-mobile.png");
}
@media (min-width: 768px) {
  .advantages__image--time {
    background-image: url("../../img/advantage-time.png"), url("../../img/green-back-tablet.png");
  }
}
.advantages__bg-text {
  display: none;
}
@media (min-width: 768px) {
  .advantages__bg-text {
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -1;
    display: inline;
    font-family: "Oswald", sans-serif;
    font-size: 281px;
    font-weight: 400;
    line-height: 281px;
    color: #f2f2f2;
  }
}
.advantages__text {
  margin-left: 75px;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
