@font-face {
  font-family: ArialMT;
  src: url("../fonts/ArialMT.ttf");
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.button__link {
  background-color: #68b738;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 11px 20px 16px 20px;
  width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
    padding: 24px 30px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    position: relative;
    width: 1219px;
    margin: 54px auto 0 auto;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}
.main-header__button {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #111111;
}
.main-header__button:hover + .main-header__mobile-menu {
  display: block;
}
@media (min-width: 768px) {
  .main-header__button {
    display: none;
  }
}
.main-header__mobile-menu {
  display: none;
  width: 320px;
}
@media (min-width: 768px) {
  .main-header__mobile-menu {
    display: block;
    width: auto;
  }
}
.main-header__list {
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .main-header__list {
    width: auto;
  }
}
@media (min-width: 768px) {
  .main-header__item {
    display: inline-block;
    margin-left: 36px;
  }
}
.main-header__link {
  display: block;
  width: 100%;
  padding: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #111111;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-header__link {
    width: auto;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #222222;
  }
  .main-header__link--active {
    border-bottom: 2px solid #68b738;
  }
}
.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main .container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .main .container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main .container {
    width: 1440px;
  }
}
.first-screen {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .first-screen {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .first-screen {
    width: 720px;
  }
}
.first-screen__title {
  padding: 29px;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .first-screen__title {
    background-image: url("../img/index-background-mobile@2x.png");
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .first-screen__title {
    width: 500px;
    margin: 0 0 0 90px;
    background-image: none;
    color: #111111;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .first-screen__title {
    margin: 0 0 0 164px;
  }
}
.first-screen__main-title {
  padding: 0;
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .first-screen__main-title {
    padding-top: 31px;
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .first-screen__main-title {
    padding-top: 113px;
  }
}
.first-screen__sub-title {
  margin-bottom: 167px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .first-screen__sub-title {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .first-screen__sub-title {
    margin-bottom: 53px;
  }
}
.first-screen__image {
  position: absolute;
  top: 167px;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .first-screen__image {
    top: 259px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .first-screen__image {
    top: 29px;
    left: 560px;
    z-index: 0;
  }
}
.first-screen__button {
  width: 100%;
  text-align: center;
}
.first-screen__link {
  display: block;
  width: 280px;
  padding: 11px;
  margin: 135px auto 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .first-screen__link {
    width: 245px;
    margin: 0 0 529px 119px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .first-screen__link {
    margin: 0 0 188px 190px;
  }
}
.second-screen {
  display: none;
}
@media (min-width: 1440px) {
  .second-screen {
    display: block;
    width: 720px;
    background-image: url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
  .second-screen {
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-size: contain;
  }
}
@media (min-width: 1440px) {
  .categories {
    width: 1220px;
    margin: 0 auto;
  }
}
.categories__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1440px) {
  .categories__list {
    width: 1220px;
    justify-content: space-between;
  }
}
.categories__item {
  position: relative;
  width: 280px;
  margin-top: 20px;
  padding: 26px 20px 22px 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .categories__item {
    width: 708px;
    margin: 0 0 30px 0;
    padding: 75px 285px 62px 52px;
  }
}
@media (min-width: 1440px) {
  .categories__item {
    width: 570px;
    margin: 80px 0 0 0;
    padding: 75px 55px 62px 52px;
  }
}
.categories__image {
  position: absolute;
  top: 23px;
  left: 21px;
  display: block;
  width: 67px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .categories__image {
    top: 80px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 212px;
  }
}
@media (min-width: 1440px) {
  .categories__image {
    top: 41px;
    right: auto;
    left: 34px;
    width: 134px;
    height: 106px;
  }
}
.categories__image--less {
  background-image: url("../img/categories-less.svg"), url("../img/ellipse-mobile.svg");
}
@media (min-width: 768px) {
  .categories__image--less {
    background-image: url("../img/categories-less-tablet.svg"), url("../img/ellipse-tablet.svg");
  }
}
@media (min-width: 1440px) {
  .categories__image--less {
    background-image: url("../img/categories-less-desktop.svg"), url("../img/ellipse-desktop.svg");
  }
}
.categories__image--masse {
  background-image: url("../img/categories-masse.svg"), url("../img/ellipse-mobile.svg");
}
@media (min-width: 768px) {
  .categories__image--masse {
    background-image: url("../img/categories-masse-tablet.svg"), url("../img/ellipse-tablet.svg");
  }
}
@media (min-width: 1440px) {
  .categories__image--masse {
    background-image: url("../img/categories-masse-desktop.svg"), url("../img/ellipse-desktop.svg");
  }
}
.categories__title {
  margin-left: 92px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .categories__title {
    margin-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .categories__title {
    margin-left: 216px;
  }
}
.categories__description {
  padding-bottom: 21px;
  margin: 34px 0 20px 0;
  border-bottom: 1px solid #dadada;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .categories__description {
    margin: 26px 0 61px 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .categories__description {
    margin: 71px 0 32px 0;
  }
}
.categories__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .categories__link {
    font-size: 20px;
    line-height: 20px;
  }
}
.categories__arrow {
  position: relative;
  right: -10px;
  top: -2px;
}
@media (min-width: 768px) {
  .categories__arrow {
    right: -23px;
    top: -3px;
  }
}
.advantages {
  width: 280px;
  margin: 0 auto 20px auto;
}
@media (min-width: 768px) {
  .advantages {
    width: 708px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .advantages {
    width: 1220px;
    margin-bottom: 90px;
    border-bottom: none;
  }
}
.advantages__title {
  padding: 0;
  margin: 32px 0 35px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 51px 0 63px 0;
  }
}
.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .advantages__list {
    justify-content: space-between;
  }
}
.advantages__item {
  position: relative;
  width: 280px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 245px;
    padding: 113px 0 48px 0;
    margin-bottom: 89px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .advantages__item:nth-child(2n) {
    margin-bottom: 58px;
  }
}
@media (min-width: 1440px) {
  .advantages__item:nth-child(2n) {
    margin-bottom: 0;
  }
}
.advantages__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url("../img/green-back-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__image {
    width: 80px;
    height: 80px;
    background-image: url("../img/green-back-tablet.svg");
  }
}
.advantages__image-nutrition {
  position: relative;
  top: 16px;
  left: 17px;
}
@media (min-width: 768px) {
  .advantages__image-nutrition {
    top: 26px;
    left: 27px;
  }
}
.advantages__image-powder {
  position: relative;
  top: 13px;
  left: 15px;
}
@media (min-width: 768px) {
  .advantages__image-powder {
    top: 24px;
    left: 25px;
  }
}
.advantages__image-functional {
  position: relative;
  top: 15px;
  left: 18px;
}
@media (min-width: 768px) {
  .advantages__image-functional {
    top: 25px;
    left: 29px;
  }
}
.advantages__image-time {
  position: relative;
  top: 15px;
  left: 17px;
}
@media (min-width: 768px) {
  .advantages__image-time {
    top: 25px;
    left: 27px;
  }
}
.advantages__bg-text {
  display: none;
}
@media (min-width: 768px) {
  .advantages__bg-text {
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -1;
    display: inline;
    font-family: "Oswald", sans-serif;
    font-size: 281px;
    font-weight: 400;
    line-height: 281px;
    color: #f2f2f2;
  }
}
.advantages__text {
  margin-left: 75px;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .advantages__text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
.result {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .result {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .result::after {
    content: "";
    position: absolute;
    top: 172px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
  }
}
.result__info {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .result__info {
    width: 674px;
    margin-bottom: 85px;
  }
}
@media (min-width: 1440px) {
  .result__info {
    width: 450px;
    margin: 0 139px 32px 0;
  }
}
.result__title {
  padding: 0;
  margin: 21px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}
@media (min-width: 768px) {
  .result__title {
    margin: 51px 0 56px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .result__title {
    margin: 20px 0 142px 0;
  }
}
.result__description {
  margin-bottom: 24px;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .result__description {
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .result__description {
    margin-bottom: 67px;
  }
}
@media (min-width: 768px) {
  .result__facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.result__facts-list {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .result__facts-list {
    width: 366px;
    margin: 0;
  }
}
.result__facts-item {
  position: relative;
  display: block;
  padding: 15px;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
}
@media (min-width: 768px) {
  .result__facts-item {
    width: 164px;
    padding: 20px;
  }
}
@media (min-width: 1440px) {
  .result__facts-item {
    width: 164px;
  }
}
.result__facts-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .result__facts-title {
    font-size: 30px;
    line-height: 30px;
  }
}
.result__facts-sub-title {
  position: absolute;
  bottom: -12px;
  left: 19px;
  display: block;
  width: 80px;
  background-color: #f2f2f2;
  font-family: "ArialMT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;
  text-align: center;
}
@media (min-width: 768px) {
  .result__facts-sub-title {
    width: 142px;
    left: 9px;
    bottom: -6px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }
}
@media (min-width: 1440px) {
  .result__facts-sub-title {
    background-color: #f2f2f2;
  }
}
.result__facts-text {
  margin: 34px 0 41px 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  text-align: center;
}
@media (min-width: 768px) {
  .result__facts-text {
    width: 174px;
    font-size: 20px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .result__facts-text {
    width: 366px;
    margin: 75px 0 48px 0;
    text-align: left;
  }
  .result__facts-text span {
    margin-right: 64px;
  }
}
.result__slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .result__slider {
    position: relative;
  }
  .result__slider::after {
    content: "";
    position: absolute;
    top: 169px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .result__slider::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .result__slider {
    width: 680px;
  }
}
.result__slider-cats {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.result__slider-cats--desktop {
  display: none;
}
@media (min-width: 768px) {
  .result__slider-cats--desktop {
    display: flex;
    width: 700px;
  }
}
@media (min-width: 768px) {
  .result__slider-cats {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .result__slider-cats--mobile {
    display: none;
  }
}
.result__slider-after {
  display: none;
}
@media (min-width: 768px) {
  .result__slider-after {
    display: inline;
  }
}
.result__slider-control {
  margin: 35px auto 38px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 1440px) {
  .result__slider-control {
    margin: 20px 0 68px 0;
  }
}
.result__slider-control-text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .result__slider-control-text {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #b8b8b8;
  }
}
.result__slider-input {
  display: none;
}
.result__slider-input + .result__slider-input-label {
  position: relative;
  display: block;
  width: 87px;
  height: 18px;
  margin: 0 17px 0 17px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
}
@media (min-width: 768px) {
  .result__slider-input + .result__slider-input-label {
    display: none;
  }
}
.result__slider-input + .result__slider-input-label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  display: block;
  width: 37px;
  height: 9px;
  border-radius: 3px;
  background-color: #68b738;
}
.result__slider-input:checked + .result__slider-input-label::before {
  display: none;
}
.result__slider-input:checked + .result__slider-input-label::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 7px;
  display: none;
  width: 37px;
  height: 9px;
  border-radius: 3px;
  background-color: #68b738;
}
.result__slider-input:checked + .result__slider-input-label::after {
  display: block;
}
.result__slider-scale {
  display: none;
}
@media (min-width: 768px) {
  .result__slider-scale {
    position: relative;
    display: block;
    width: 431px;
    height: 9px;
    margin: 0 20px;
    border-radius: 3px;
    background-color: #dcdcdc;
  }
}
.result__slider-toggle {
  display: none;
}
@media (min-width: 768px) {
  .result__slider-toggle {
    position: absolute;
    top: -15px;
    left: 215px;
    display: block;
    width: 38px;
    height: 37px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
  }
}
.result__slider-dote {
  display: none;
}
@media (min-width: 768px) {
  .result__slider-dote {
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1440px) {
  .contacts__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
  }
}
.contacts__address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
  margin: 0 auto;
  padding: 30px 0 25px 0;
}
@media (min-width: 768px) {
  .contacts__address {
    justify-content: space-between;
    width: 708px;
    padding: 69px 0 62px 0;
  }
}
@media (min-width: 1440px) {
  .contacts__address {
    position: absolute;
    z-index: 1;
    left: 110px;
    top: 95px;
    width: 570px;
    padding: 64px 0 57px 0;
    background-color: #ffffff;
  }
}
.contacts__address-text {
  width: 160px;
  padding-left: 19px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .contacts__address-text {
    padding-left: 42px;
  }
}
@media (min-width: 1440px) {
  .contacts__address-text {
    width: 180px;
    padding-left: 0;
    margin-left: 76px;
    font-size: 20px;
    line-height: 25px;
  }
}
.contacts__address-address {
  width: 160px;
  padding-right: 25px;
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #444444;
}
@media (min-width: 768px) {
  .contacts__address-address {
    padding-right: 41px;
  }
}
@media (min-width: 1440px) {
  .contacts__address-address {
    width: 180px;
    padding-right: 0;
    margin-right: 90px;
    font-size: 16px;
  }
  .contacts__address-address span {
    line-height: 60px;
  }
}
.contacts__map {
  width: 100%;
  min-height: 400px;
}
.gm-style-mtc,
.gmnoprint,
.gm-svpc {
  display: none;
}
.main-footer {
  width: 100%;
}
.main-footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 320px;
  margin: 0 auto;
}
.main-footer__logo {
  width: 100%;
}
.main-footer__social {
  width: 100%;
}
.main-footer__social-item {
  display: inline-block;
}
.main-footer__copyright {
  width: 100%;
}
