html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 11px 20px 16px 20px;
  width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
    padding: 24px 30px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    position: relative;
    width: 1219px;
    margin: 54px auto;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .main-header__logo {
    width: 173px;
    height: 58px;
    background-image: url("../../img/logo-tablet-svg.png");
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    width: 202px;
    height: 59px;
    background-image: url("../../img/logo-desktop.png");
  }
}
@media (min-width: 768px) {
  .main-header__logo-image {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-header__logo-text {
    display: none;
  }
}
.main-header__button {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #111111;
}
.main-header__button:hover + .main-header__mobile-menu {
  display: block;
}
@media (min-width: 768px) {
  .main-header__button {
    display: none;
  }
}
.main-header__mobile-menu {
  display: none;
  width: 320px;
}
@media (min-width: 768px) {
  .main-header__mobile-menu {
    display: block;
    width: auto;
  }
}
.main-header__list {
  display: block;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .main-header__list {
    width: auto;
  }
}
@media (min-width: 768px) {
  .main-header__item {
    display: inline-block;
    margin-left: 36px;
  }
}
.main-header__link {
  display: block;
  width: 100%;
  padding: 24px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: #111111;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-header__link {
    width: auto;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #222222;
  }
  .main-header__link--active {
    border-bottom: 2px solid #68b738;
  }
}
