.main-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	padding: 11px 20px 16px 20px;
	width: 320px;
	background-color: @white;
	@media (min-width: 768px) {
		width: 768px;
		padding: 24px 30px;
	}
	@media (min-width: 1200px) {
		position: relative;
		width: 1219px;
		margin: 54px auto;
		background-color: transparent;
	}
	&__logo {
		@media (min-width: 768px) {
			width: 173px;
			height: 58px;
			background-image: url("../../img/logo-tablet-svg.png")
		}
		@media (min-width: 1200px) {
			width: 202px;
			height: 59px;
			background-image: url("../../img/logo-desktop.png")
		}
	}
	&__logo-image {
		@media (min-width: 768px) {
			display: none;
		}
	}
	&__logo-text {
		@media (min-width: 768px) {
			display: none;
		}
	}
	&__button {
		display: block;
		width: 18px;
		height: 18px;
		background-color: @black;
		&:hover + .main-header__mobile-menu {
			display: block;
		}
		@media (min-width: 768px) {
			display: none;
		}
	}
	&__mobile-menu {
		display: none;
		width: 320px;
		@media (min-width: 768px) {
			display: block;
			width: auto;
		}
	}
	&__list {
		display: block;
		width: 100%;
		text-align: center;
		@media (min-width: 768px) {
			width: auto;			
		}
	}
	&__item {
		@media (min-width: 768px) {
			display: inline-block;
			margin-left: 36px;
		}
	}
	&__link {
		display: block;
		width: 100%;
		padding: 24px;
		font-family: @Oswald;
		font-size: 20px;
		color: @black;
		font-weight: 500;
		line-height: 20px;
		text-transform: uppercase;
		text-decoration: none;
		@media (min-width: 768px) {
			width: auto;
			padding: 12px 0;
			font-size: 18px;
			font-weight: 400;
			line-height: 25px;
			color: @lightblack;
			&--active {
				border-bottom: 2px solid @green;
			}
		}
	}
}